@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #4A5050;
  --black: #2D2D2D;
  --primary: #07969E;
  --primary-1: #A0DDE2;
  --primary-2: #ECFEFE;
  --indigo-4: #F6F2FF;
  --orange-4: #FFF4F0;
  --grey-white: #7B8DA8;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}